<div class="row m-0 p-0">
  <div class="col-8" id="background-image"></div>
  <div class="col-4 text-center bg-turq">
    <div class="d-block align-items-center justify-content-center my-5">
      <img src="../../../favicon.ico" class="img-fluid my-5" style="height: 40px" alt="logo" />
      <h2 class=" bg-platinum">Página no encontrada</h2>
    </div>

    <p>La página a la que está intentando acceder no existe.</p>
    <p>
      Vuelva atrás o recargue la web, lamentamos las molestias
    </p>

  </div>
</div>