<div class="bg-green py-3">
  <div class="container rounded bg-dark">
    <h2 class="text-light m-3 p-3">Modifique los datos del medicamento</h2>
    <div class="row justify-content-center m-3">
      <div class="col-lg-12 col-xl-11 text-light">
        <form [formGroup]="editMedicamentoForm" (ngSubmit)="onSubmit()">
          <div class="mb-5 row gx-5">
            <div class="col-12 text-center">
              <div class="">
                <a class="pointer" data-bs-toggle="modal" data-bs-target="#cambiar-imagen">
                  <div class="div-imagen hover-effect">
                    <div class="">
                      <p class="text-center">Cambiar imagen de perfil</p>
                    </div>
                    <img *ngIf="medicamento.imagen == null"
                      src="."
                      class="img-fluid img-border rounded max-size" width="150" alt="foto no encontrada" />
                    <img *ngIf="medicamento.imagen != null" src="{{ medicamento.imagen }}"
                      class="img-fluid img-border rounded max-size" width="150" alt="foto" />
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="mb-5 row gx-5">
            <div class="col-md-6 col-sm-12">
              <label class="form-label">NOMBRE</label>
              <div class="">
                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" />
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <label class="form-label">LABORATORIO</label>
              <div class="">
                <input type="text" class="form-control" placeholder="Laboratorio" formControlName="laboratorio" />
              </div>
            </div>
          </div>
          <div class="mb-5 row gx-5">
            <div class="col-md-6 col-sm-12">
              <label class="form-label">FORMATO</label>
              <div class="">
                <input type="text" class="form-control" placeholder="Formato" formControlName="formato" />
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <label class="form-label">DOSIS</label>
              <div class="">
                <input type="text" class="form-control" placeholder="Dosis" formControlName="dosis" />
              </div>
            </div>
          </div>
          <div class="mb-5 row gx-5">
            <div class="col-md-6 col-sm-12">
              <label class="form-label">PRECIO</label>
              <div class="">
                <input type="text" class="form-control" placeholder="Precio" formControlName="precio" />
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <label class="form-label">STOCK</label>
              <div class="">
                <input type="text" class="form-control" placeholder="Stock" formControlName="stock" />
              </div>
            </div>
          </div>
          <div class="row mt-5 mb-3">
            <div class="col">
              <button type="submit" class="btn btn-green float-end p-3">
                Editar medicamento
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="cambiar-imagen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Cambie su imagen de Perfil
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="hover-shadow">
            <h6 class="text-muted">Seleccione una nueva imagen</h6>
            <form action="">
              <input type="file" class="form-control" id="profilepicture" name="profilepicture"
                (change)="onFileChange($event)" accept="image/*" />
            </form>
            <p class="small text-muted mt-1">
              
              Recomendamos seleccionar una imagen con relación de aspecto
              cuadrada. De no ser así, tu imagen podría sufrir deformaciones
            </p>
           
          </div>
        </div>
        <div class="modal-footer">
          <a [routerLink]="['/edit-med']">
            <button type="button" data-bs-dismiss="modal" aria-label="Close"
              class="btn bg-secondary float-end mt-2 mx-3">
              Volver
            </button>
          </a>
          <button type="button" class="btn btn-green float-end mt-2 mx-3" data-bs-dismiss="modal"
            aria-label="Close" (click)="onSubmit()">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>