<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="w-80">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 text-white text-decoration-none">frf
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#home"></use>
              </svg>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#speedometer2"></use>
              </svg>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <fa-icon [icon]="faCoffee"></fa-icon>

              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#grid"></use>
              </svg>
              Products
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#people-circle"></use>
              </svg>
              Customers
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom bg-platinum mb-3">
    <div class="container d-flex flex-wrap justify-content-center">

      <div class="text-end">
        <button type="button" class="btn btn-primary text-dark me-2"><a [routerLink]="['/login']">Login</a> </button>
        <button type="button" class="btn btn-primary text-light">
          <a [routerLink]="['/register']">Sign-up</a> </button>
        <button class="btn btn-danger float-end" (click)="onLogout()">Logout</button>

        <button class="btn btn-danger float-start"><a [routerLink]="['/add-med']">Añadir</a></button>

        <button class="btn btn-danger float-start"><a [routerLink]="['/all-meds']">Ver todos</a></button>

        <button class="btn btn-info float-start"><a [routerLink]="['/new-order']">Hacer pedido</a></button>
      </div>
    </div>
  </div>
</header>