<div class="bg-green py-3">
  <div class="container rounded bg-dark">
    <div class="row d-flex align-items-center">
      <div class="col-6">
        <h2 class="text-light m-3 p-3">Hacer pedido</h2>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <button type="submit" class="btn btn-green mx-2" (click)="limpiarCarro()">Vaciar carro</button>
        <button type="submit" class="btn btn-green mx-2" (click)="verCarro()"><fa-icon [icon]="faCart"></fa-icon>
        </button>
      </div>
    </div>


    <div class="row justify-content-center m-3">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let medicamento of medicamentos">
        <div class="card h-100" style="border-radius: 15px;">
          <div class=" ">
            <img src="{{medicamento.imagen}}" style="border-top-left-radius: 15px; border-top-right-radius: 15px;"
              class="img-fluid" alt="Laptop" />
          </div>
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <div>
                <p class="card-nombre">{{medicamento.nombre}}</p>
                <p class="small text-muted">{{medicamento.laboratorio}}</p>
              </div>
              <div>

              </div>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body pb-0">
            <div class="">
              <p>Forma: <span class="text-muted">{{medicamento.formato}}</span></p>
              <p>Dosis: <span class="text-muted">{{medicamento.dosis}}</span></p>
              <p>Precio: <span class="text-muted">{{medicamento.precio}}€</span></p>
              <p [ngStyle]="{'color': (medicamento.stock <= 20) ? 'red' : 'black'}">Stock: <span
                  [ngClass]="{'low-stock': medicamento.stock < 20}">{{medicamento.stock}}</span> envases</p>
            </div>
          </div>

          <div class="card-footer">
            <form [formGroup]="cantidadInput" class="">
              <div class="form-group">
                <input type="number" class="form-control my-1" id="cantidad" aria-describedby="emailHelp"
                  placeholder="Cantidad" formControlName="cantidad">
              </div>

              <button type="submit" class="btn btn-green w-100 my-1" (click)="addToCart(medicamento)">Añadir al
                carro</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>